@charset "utf-8";
/* CSS Document */
*{margin:0; padding:0;}
li{list-style:none;}
h1,h2{font-weight:normal; font-size:12px;}
a{ text-decoration:none; color:#000;}
b,strong{font-welght:normal;}
i,em{ font-style:normal;}
.fl{float:left;}
.fr{float:right;}
.clearfix:after{display:block; content:''; clear:both;}
.clearfix{zoom:1;}